.masonry-container {
  
  padding-top: 64px; /* same as top bar height */
 background: rgba(255, 0, 0, 0.05); 
  
}
.masonry {
  
  column-count: 4; /* Number of columns */
  column-gap: 15px; /* Space between columns */
  /*margin-top: 3px*/


 
}

.masonry-item {
  break-inside: avoid; /* prevents item from being split into two columns */
  margin-bottom: 15px; 
  

  
}

.masonry-item img {
 
   max-width: 301px;
  height: auto;
  border-radius: 8px;
  display: block;
  
}


.plus-button {
  right:20px;
  
 position: absolute;
  padding: 10px 20px;
  background-color: #5a82a8;
  color: white;
  border: 2px solid #5a82a8;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  text-align: center;

}




.BackButton {
   left: 20px;
 position: absolute;
  padding: 10px 20px;
  background-color: #5a82a8;
  color: white;
  border: 2px solid #5a82a8;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  text-align: center;
}



.page1-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* disables page scroll */
}



.masonry-scroll-container {
 margin-top: 64px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}


