.masonry {
  column-count: 4; /* Number of columns */
  column-gap: 20px; /* Space between columns */
  margin-top: 30px
 
}

.masonry-item {
  break-inside: avoid; /* prevents item from being split into two columns */
  margin-bottom: 30px; 
  
}

.masonry-item img {
  width: 100%;
   max-width: 250px;
  height: auto;
  border-radius: 8px;
  display: block;
}
