.post-entire {
  display: flex;
  flex-wrap: wrap;
  
  

}



.hoverable {
  /*transform: scale(1.1);  zoom slightly */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35); 
}



.flip-card {
  background-color: transparent;

   display: block;
  perspective: 1000px;
  max-width: 400px;   /* card can’t get bigger than this */
  min-width: 200px;   /* card won’t shrink smaller than this */
}

.flip-card-inner {
  position: relative;
display: inline-block;   
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
   transform-origin: center;

}


/*
.flip-card:hover .flip-card-inner.flipped {
  transform: rotateY(180deg);
}
*/

.flip-card-front {
  position: relative;

  overflow: hidden;
  display: block;
  background: white; /* This becomes the white "bottom border" */
  padding-bottom: 15%; /* height of white bottom strip */

  border-radius: 8px;
}


.location-text {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  font-weight: 600;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.flip-card-front img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0; /* Let container handle the border radius */
}



.column {
  
  width: 50%;
  display:inline-block;
}



.buttonContainer button {
    position: absolute;
    right: 5px;
    top: 5px;
    
}